# gitignore
# composer
vendor/
composer.json
composer.lock
# vscode
.vscode/
*.code-workspace
# docker
docker/
docker-compose.yml
Dockerfile
#outhers
README.md
LICENSE
LICENSE.txt
docs/
# node
node_modules/
package.json
package-lock.json
